<?xml version="1.0" encoding="UTF-8"?>

<App version="1.0">
    <Icon>logo.png</Icon>
    <Name>Blagues</Name>
    <Version>1.0.0</Version>
    <Description>Envie de rire ou juste de se détendre avec de bonnes blagues françaises ? alors l'appli Blagues est faite pour toi, contient également des blagues pour développeurs (optionnel)</Description>
    <Category>Divertissement</Category>
    
    <Release type="Stable">
        <Comment>Essayez l'appli !</Comment>
        <File>releases/Blagues-1.0.0.apk</File>
        <Date>26/09/2022</Date>
    </Release>
    
    <Screenshots>
        <Screenshot>screenshots/Screenshot_20220924-155755.png</Screenshot>
        <Screenshot>screenshots/Screenshot_20220924-160649.png</Screenshot>
        <Screenshot>screenshots/Screenshot_20220924-160827.png</Screenshot>
    </Screenshots>
</App>
