<?xml version="1.0" encoding="UTF-8"?>

<App version="1.0">
    <Icon>logo.png</Icon>
    <Name>BacBook</Name>
    <Version>1.0.0</Version>
    <Description>
    BacBook est une application conçu pour permettre l'accès aux cours des classes de Terminales.

        Parmis les cours dispo dans l'appli, retrouvez :
    ⭕️ Les Maths
    ⭕️ Physique
    ⭕️ Chimie
    ⭕️ Science (SVT)
    ⭕️ Français
    ⭕️ Anglais
    ⭕️ Philosophie
    ⭕️ Historoire
    ⭕️ Géographie
    </Description>
    
    <Release type="Stable">
        <Comment>Essayez l'appli !</Comment>
        <File>releases/BacBook-1.0.0.apk</File>
        <Date>26/09/2022</Date>
    </Release>
    
    <Screenshots>
        <Screenshot>screenshots/Screenshot_20220927-094328.png</Screenshot>
        <Screenshot>screenshots/Screenshot_20220927-094338.png</Screenshot>
        <Screenshot>screenshots/Screenshot_20220927-094348.png</Screenshot>
    </Screenshots>
</App>
