<?xml version="1.0" encoding="UTF-8"?>

<App version="1.0">
    <Icon>logo.png</Icon>
    <Name>BacBook</Name>
    <Description>BacBook est une application conçu pour permettre l'accès aux cours des classes de Terminales.

        Parmis les cours dispo dans l'appli, retrouvez :
    ⭕️ Les Maths
    ⭕️ Physique
    ⭕️ Chimie
    ⭕️ Science (SVT)
    ⭕️ Français
    ⭕️ Anglais
    ⭕️ Philosophie
    ⭕️ Historoire
    ⭕️ Géographie</Description>
    <Popularity>0.0</Popularity>
    <Category>Education</Category>
    
    <Screencast>screencasts/Screencast1.mp4</Screencast>
    
    <Screenshots>
        <Screenshot>screenshots/Screenshot1.png</Screenshot>
        <Screenshot>screenshots/Screenshot2.png</Screenshot>
        <Screenshot>screenshots/Screenshot3.png</Screenshot>
        <Screenshot>screenshots/Screenshot4.png</Screenshot>
        <Screenshot>screenshots/Screenshot5.png</Screenshot>
        <Screenshot>screenshots/Screenshot6.png</Screenshot>
        <Screenshot>screenshots/Screenshot7.png</Screenshot>
        <Screenshot>screenshots/Screenshot8.png</Screenshot>
        <Screenshot>screenshots/Screenshot9.png</Screenshot>
    </Screenshots>
    
    <Releases>
    
        <Release type="Stable">
            <Version>1.0.0</Version>
            <Comment>Essayez l'appli !</Comment>
            <File>releases/BacBook-1.0.0.apk</File>
            <Date>26/09/2022</Date>
        </Release>
    
    </Releases>
</App>
