<?xml version="1.0" encoding="UTF-8"?>

<App version="1.0">
    <Icon>logo.png</Icon>
    <Name>Marvel Discovery</Name>
    <Version>1.0.0</Version>
    <Description>Fan de films et de series Marvel ? Découvrez les nouveaux films et séries, les infos sur les acteurs de vos films favoris, des bandes annonces époustouflantes et bien plus encore.</Description>
    <Category>Divertissement</Category>
    
    <Release type="Stable">
        <Version>1.0</Version>
        <Comment>Essayez l'appli et découvrez l'univers Marvel !</Comment>
        <File>releases/MarvelDiscovery-1.0.0.apk</File>
        <Date>17/03/2022</Date>
    </Release>
    
    <Screenshots>
        <Screenshot>screenshots/Screenshot1.png</Screenshot>
        <Screenshot>screenshots/Screenshot2.png</Screenshot>
        <Screenshot>screenshots/Screenshot3.png</Screenshot>
        <Screenshot>screenshots/Screenshot4.png</Screenshot>
        <Screenshot>screenshots/Screenshot5.png</Screenshot>
        <Screenshot>screenshots/Screenshot6.png</Screenshot>
        <Screenshot>screenshots/Screenshot7.png</Screenshot>
        <Screenshot>screenshots/Screenshot8.png</Screenshot>
    </Screenshots>
</App>
